<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Vendor OnBoard</title>
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      .column {
        width: 98%;
        padding: 10px;
      }

      .row {
        overflow-x: hidden;
      }

      .not-width {
        padding: 0px 25px;
      }

      .vendor-logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 210px;
        margin-top: 50px;
      }

      .header {
        display: block;
        margin-top: 30 px;
        text-align: center;
      }

      .paragarph {
        font-size: 17px;
        line-height: 28px;
        color: #505050;
      }

      .para-padding {
        padding: 0px 26px;
      }

      .para-padding-one {
        padding: 0px 70px !important;
      }

      .tecxprt-font {
        font-family: "Nunito", sans-serif;
      }

      .header-one {
        font-size: 17px;
        color: #5e9bd4;
        text-align: center;
        margin-top: 5px;
      }

      .para-content {
        padding: 28px 52px;
      }

      .table-content {
        padding: 0px 75px;
        display: flex;
      }

      .line-width {
        width: 87%;
      }

      .table-width {
        width: 40%;
      }

      .not-text-xs {
        font-size: 20px;
        margin-bottom: 10px;
      }

      .text-grey {
        color: #727070;
      }

      .vendor-logo-one {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 123px;
        margin-top: 4px;
      }

      @media screen and (min-width: 320px) and (max-width: 740px) {
        .para-content {
          padding: 28px 21px;
        }

        .para-padding-one {
          padding: 0px 22px !important;
        }

        .para-padding {
          padding: 0px 0px;
        }

        .table-width {
          width: 40%;
        }

        .table-content {
          padding: 0px 20px;
        }
      }
    </style>
  </head>

  <body>
    <div class="row">
      <div class="not-width">
        <div class="column">
          <div>
            <%if (data.org_dp) { %>
            <img
              src="<%= data.org_dp %>"
              alt="<%= data.org_name %>"
              class="vendor-logo"
            />
            <% } %>
          </div>
        </div>
        <div class="column">
          <div class="para-content">
            <p class="paragarph tecxprt-font">Dear <%= data.name %>,</p>
            <p
              class="paragarph tecxprt-font para-padding"
              style="margin-top: 16px;"
            >
              Welcome to <%= data.org_name %>, A new account has been created
              and you have been issued with a temporary password, please follow
              the link to onboard yourself
            </p>
            <hr style="width: 94%;" />
          </div>

          <div class="table-content">
            <div class="table-width">Email:</div>
            <div style="color: blue;">
              <%= data.email %>
            </div>
          </div>
          <hr class="line-width" />
          <div class="table-content" style="margin-top:30px">
            <div class="table-width">Temp Password:</div>
            <div>
              <%= data.tempCode %>
            </div>
          </div>
          <hr class="line-width" />
          <div class="table-content" style="margin-top:30px">
            <div class="table-width">URL:</div>
            <div>
              <a href="<%= data.url %>" style="color: blue;">Click Here</a>
            </div>
          </div>
          <hr class="line-width" />
        </div>
        <div class="column">
          <div class="para-content para-padding-one">
            <p class="paragarph tecxprt-font" style="margin: 0px;">Regards,</p>
            <p class="paragarph tecxprt-font" style="margin:5px 0px">
              <%= data.org_name %> Team
            </p>
            <p style="margin:5px 0px">
              (This is an Auto Generated message.Please do not reply)
            </p>
            <hr />
          </div>
        </div>
        <div class="column">
          <div style="text-align: center;">
            <p class="not-text-xs text-grey">Powered By</p>
          </div>
          <div>
            <img
              src="https://nithara-storage.fra1.digitaloceanspaces.com/1629086839856tecxprt-logo.png"
              class="vendor-logo-one"
            />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
