<div
  style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2"
>
  <div style="margin:50px auto;width:70%;padding:20px 0">
    <div style="border-bottom:1px solid #eee">
      <a
        href=""
        style="font-size:1.4em;color: #00466a;text-decoration:none;font-weight:600"
      >
        <img
          src="https://tecxprt-media.sgp1.digitaloceanspaces.com/1646719555973Ninja_Green%20Logo%20_%20Transp%20BG.png"
          width="120px"
        />
      </a>
    </div>
    <p style="font-size:1.1em">Hi ,</p>
    <p>
      Thank you for choosing Ninja. Use the following OTP to verify your account. OTP will be valid for 15 minutes
    </p>
    <h2
      style="background: #5fa744;margin: 0 auto;width: max-content;padding: 0 10px;color: #fff;border-radius: 4px;"
    >
      <%= data.otp%>
    </h2>
    <p style="font-size:0.9em;">Regards,<br />Ninjacart</p>
    <hr style="border:none;border-top:1px solid #eee" />
    <div
      style="float:right;padding:8px 0;color:#aaa;font-size:0.8em;line-height:1;font-weight:300"
    >
      <p>Ninjacart</p>
    </div>
  </div>
</div>
