<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>PASSWORD RESET</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .column {
            width: 98%;
            padding: 10px;
        }

        .row {
            overflow-x: hidden;
        }

        .vendor-logo {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 210px;
            margin-top: 50px;
        }

        .email-logo {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 210px;
            margin-top: 50px;
        }

        .header {
            display: block;
            margin-top: 30 px;
            text-align: center;
        }

        .paragarph {
            font-size: 20px;
            line-height: 28px;
            color: #505050;
        }

        .tecxprt-font {
            font-family: "Nunito", sans-serif;
        }

        .header-one {
            font-size: 30px;
            color: #5e9bd4;
            text-align: center;
            margin-top: 5px;
        }

        .para-content {
            padding: 33px 52px;
        }

        .not-text-xs {
            font-size: 20px;
        }

        .text-grey {
            color: #727070;
        }

        .vendor-logo-one {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 123px;
            margin-top: 4px;
        }

        .email-logo-one {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 123px;
            margin-top: 4px;
        }

        @media screen and (min-width: 375px) and (max-width: 740px) {
            .para-content {
                padding: 33px 21px;
            }
        }
    </style>
</head>

<body>
    <div class="row">
        <div class="column">
            <div>
                <img src="<%= data.org_dp %>" alt="<%= data.org_name %>" class="vendor-logo" />
                <!-- <img src="https://nsitportal.sgp1.digitaloceanspaces.com/1623392835047logo4.png" class="vendor-logo" /> -->
            </div>
        </div>
        <div class="column">
            <div>
                <h2 class="header tecxprt-font"><b>PASSWORD RESET REQUEST</b></h2>
            </div>
        </div>
        <div class="column">
            <div class="para-content">
                <p class="paragarph tecxprt-font">Dear <%= data.name%>,</p>
                <p class="paragarph tecxprt-font" style="margin-top: 16px;">We have received your request to reset your
                    password.Please copy reset code </p>
            </div>
            <div>
                <h2 class="header-one tecxprt-font"><b>
                        <%= data.code%>
                    </b></h2>
            </div>
        </div>
        <div class="column">
            <div style="text-align: center;">
                <p class="not-text-xs text-grey">Powered By</p>
            </div>
            <div>
                <img src="https://nithara-storage.fra1.digitaloceanspaces.com/1629086839856tecxprt-logo.png"
                    class="vendor-logo-one">
            </div>

        </div>
    </div>
</body>

</html>