<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Auction Invitation</title>
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      .column {
        width: 98%;
        padding: 10px;
      }

      .row {
        overflow-x: hidden;
      }

      .not-width {
        padding: 0px 25px;
      }

      .vendor-logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 210px;
        margin-top: 50px;
      }

      .header {
        display: block;
        margin-top: 30 px;
        text-align: center;
      }

      .paragarph {
        font-size: 17px;
        line-height: 28px;
        color: #505050;
      }

      .para-padding {
        padding: 0px 18px;
      }

      .para-padding-one {
        padding: 0px 70px !important;
      }

      .tecxprt-font {
        font-family: "Nunito", sans-serif;
      }

      .header-one {
        font-size: 17px;
        color: #5e9bd4;
        text-align: center;
        margin-top: 5px;
      }

      .para-content {
        padding: 28px 52px;
      }

      .table-content {
        padding: 0px 69px;
        display: flex;
      }

      .line-width {
        width: 87%;
      }

      .table-width {
        width: 10%;
      }

      .not-text-xs {
        font-size: 20px;
        margin-bottom: 10px;
      }

      .text-grey {
        color: #727070;
      }

      .vendor-logo-one {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 123px;
        margin-top: 4px;
      }

      @media screen and (min-width: 320px) and (max-width: 740px) {
        .para-content {
          padding: 18px 5px;
        }

        .para-padding-one {
          margin-top: 3px;
          padding: 0px 5px !important;
        }

        .para-padding {
          padding: 0px 0px;
        }

        .table-width {
          width: 35%;
        }

        .table-content {
          padding: 0px 5px;
        }
      }
    </style>
  </head>

  <body>
    <div class="row">
      <div class="not-width">
        <div class="column">
          <div>
            <img
              src="<%= data.org.dp %>"
              alt="<%= data.org.organization_name %>"
              class="vendor-logo"
            />
          </div>
          <div style="margin-top: 15px;text-align: center;">
            <h3>
              <b>
                <%= data.index.name %>
              </b>
            </h3>
            <!-- <p style="color: #8f8e8e ;">
                        <b>
                            <%= new Date(data.primary_data.auction_start_time).toLocaleString() %>
                                -
                                <%= new Date(data.primary_data.auction_end_time).toLocaleString() %>
                        </b>
                    </p> -->
          </div>
        </div>
        <div class="column">
          <div class="para-content">
            <p class="paragarph tecxprt-font">Dear <%= data.user_name %>,</p>
            <p
              class="paragarph tecxprt-font para-padding"
              style="margin-top: 15px;"
            >
              You have been invited to participate in the <%=
              data.primary_data.auction_category %> - <%= data.index.name %>
              which occurs in between <%= new Date(new
              Date(data.primary_data.auction_start_time).getTime()+(new
              Date().getTimezoneOffset()==0?19800000:0)).toLocaleString() %> IST
              - <%= new Date(new
              Date(data.primary_data.auction_end_time).getTime()+(new
              Date().getTimezoneOffset()==0?19800000:0)).toLocaleString() %> IST
            </p>
          </div>

          <div class="table-content">
            <div style="width: 100%;text-align: center;font-weight: bold;">
              <a
                href="<%= data.landing_url %>"
                target="_blank"
                style="color: blue;"
                >Click here to know more</a
              >
            </div>
          </div>
        </div>
        <div class="column">
          <div class="para-content para-padding-one">
            <p class="paragarph tecxprt-font" style="margin: 0px;">Regards,</p>
            <p class="paragarph tecxprt-font" style="margin:5px 0px">
              <%= data.org.organization_name %> Team
            </p>
            <p style="margin:5px 0px">
              (This is an Auto Generated message.Please do not reply)
            </p>
            <% if(typeof (data.disclaimer) != "undefined"){ %>
            <p style="margin:5px 0px;font-weight: bold;">
              <span>Disclaimer: </span>
              <span style="color:blue"><%= data.disclaimer%></span>
            </p>
            <% } %>
            <hr />
          </div>
        </div>
        <div class="column">
          <div style="text-align: center;">
            <p class="not-text-xs text-grey">Powered By</p>
          </div>
          <div>
            <img
              src="https://casttree.nyc3.digitaloceanspaces.com/NextOnTop/tecxprt-logo.png"
              class="vendor-logo-one"
            />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
