<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Auction Short List</title>
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      .column {
        width: 98%;
        padding: 10px;
      }

      .row {
        overflow-x: hidden;
      }

      .not-width {
        padding: 0px 25px;
      }

      .vendor-logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 210px;
        margin-top: 50px;
      }

      .header {
        display: block;
        margin-top: 30 px;
        text-align: center;
      }

      .paragarph {
        font-size: 17px;
        line-height: 28px;
        color: #505050;
      }

      .para-padding {
        padding: 0px 18px;
      }

      .para-padding-one {
        padding: 0px 70px !important;
      }

      .tecxprt-font {
        font-family: "Nunito", sans-serif;
      }

      .header-one {
        font-size: 17px;
        color: #5e9bd4;
        text-align: center;
        margin-top: 5px;
      }

      .para-content {
        padding: 5px 52px;
      }

      .table-content {
        padding: 0px 69px;
        display: flex;
      }

      .line-width {
        width: 87%;
      }

      .table-width {
        width: 14%;
      }

      .not-text-xs {
        font-size: 20px;
        margin-bottom: 10px;
      }

      .text-grey {
        color: #727070;
      }

      .vendor-logo-one {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 123px;
        margin-top: 4px;
      }

      @media screen and (min-width: 320px) and (max-width: 740px) {
        .para-content {
          padding: 0px 5px;
        }

        .para-padding-one {
          margin-top: 3px;
          padding: 0px 5px !important;
        }

        .para-padding {
          padding: 0px 0px;
        }

        .table-width {
          width: 35%;
        }

        .table-content {
          padding: 0px 5px;
        }
      }
    </style>
  </head>

  <body>
    <div class="row">
      <div class="not-width">
        <div class="column">
          <div>
            <%if (data.org_dp) { %>
            <img
              src="<%= data.org_dp %>"
              alt="<%= data.org_name %>"
              class="vendor-logo"
            />
            <% } %>
          </div>
        </div>
        <div class="column">
          <div class="para-content">
            <p class="paragarph tecxprt-font">Dear <%= data.name %>,</p>
            <p
              class="paragarph tecxprt-font para-padding"
              style="margin-top: 15px;"
            >
              Sorry, Unfortunately you have <%= data.bid_status %> the <%=
              data.auction_category %> (#<%= data.auction_id%>) <%=
              data.item_name %>. Better luck next time.
            </p>
          </div>
        </div>
        <div class="column">
          <div class="para-content para-padding-one">
            <p class="paragarph tecxprt-font" style="margin: 0px;">Regards,</p>
            <p class="paragarph tecxprt-font" style="margin:5px 0px">
              <%= data.organization_name %>
            </p>
            <p style="margin:5px 0px">
              (This is an Auto Generated message.Please do not reply)
            </p>
            <hr />
          </div>
        </div>
        <div class="column">
          <div style="text-align: center;">
            <p class="not-text-xs text-grey">Powered By</p>
          </div>
          <div>
            <img
              src="https://casttree.nyc3.digitaloceanspaces.com/NextOnTop/tecxprt-logo.png"
              class="vendor-logo-one"
            />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
